.place-row {
    text-align: center;
}

.image-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.image-block {
    flex: 1;
    margin: 0 10px;
}

.image-block img {
    width: 100%;
    height: auto;
}

@media (max-width: 600px) {
    .image-container {
        flex-direction: column;
        align-items: center;
    }
}
