.place-row {
    text-align: center;
}

.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.image-block {
    margin: 10px;
    width: calc(33.333% - 20px); /* Adjust width as needed */
    text-align: center;
}

.image-block img {
    max-width: 100%;
    height: auto;
}

/* Responsive behavior */
@media (max-width: 768px) {
    .image-block {
        width: calc(50% - 20px); /* 2 images per row on medium screens */
    }
}

@media (max-width: 480px) {
    .image-block {
        width: 100%; /* 1 image per row on small screens */
    }
}
